{% extends 'flatpages/default.html' %}

{% load censor %}

{% load custom_tags %}

{% block title %}
    Новости
{% endblock title %}

{% block content %}
    <h1>Список новостей:</h1>
    <h5>Показаны {{ page_obj.start_index }}-{{ page_obj.end_index }} из {{ page_obj.paginator.count }}</h5>

    <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
    </form>

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            {% if page_obj.previous_page_number > 2 %}
                ...
            {% endif %}
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {%  endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

    <br>

    <table align="center" style="display: inline-block">
        <tr style="border-bottom: 1px solid black">
            <td>
                Заголовок
            </td>
            <td style="width: 180px">
               Дата публикации
            </td>
            <td>
               Предпросмотр
            </td>
        </tr>
        {% for news in all_news %}
            <tr style="border-bottom: 1px solid black">
                <td>
                    <a class="nav-link" href="/news/{{ news.id }}">{{ news.post_title|censor }}</a>
                </td>
                <td>
                    {{ news.adding_time|date:'d M Y' }}
                </td>
                <td style="padding: 10px">
                    {{ news.post_text|truncatechars:20|censor }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    {% if perms.NPbd.add_post %}
        <form style="float: right; margin-right: 390px" action="/articles/create">
        <input type="submit" value="Создать статью">
        </form>
        <br><br>
        <form style="float: right; margin-right: 390px" action="/news/create">
        <input type="submit" value="Создать новость">
        </form>
    {% endif %}

{% endblock content %}