{% extends 'flatpages/default.html' %}

{% load censor %}

{% block title %}
    {{ news.post_title|censor }}
{% endblock title %}

{% block content %}
    <h1>{{ news.post_title|censor }}</h1>
    <p style="font-size: 14pt"> {{ news.adding_time|date:'d M Y' }} </p>
    <table align="center">
        <tr>
            <td style="width: 400px">
                Категория:
                {% for cat in news.category.filter %}
                    {{ cat.name }}
                {% endfor %}
            </td>
            <td>
                Автор: {{ news.author.author }}
            </td>
        </tr>
        <tr style="width: 500px">
            <p style="font-size: 14pt; text-align: justify">{{ news.post_text|censor }}</p>
        </tr>
    </table>
    {% if perms.NPbd.change_post and perms.NPbd.delete_post %}
        {% if news.post_type == 'NW' %}
            <form style="float: right; margin-right: 390px" action="{% url 'news_edit' pk=news.id %}">
                <input type="submit" value="Редактирование">
            </form>
            <form style="float: right; margin-right: 390px" action="{% url 'news_delete' pk=news.id %}">
                <input type="submit" value="Удаление">
            </form>
        {% else %}
            <form style="float: right; margin-right: 390px" action="{% url 'article_edit' pk=news.id %}">
                <input type="submit" value="Редактирование">
            </form>
            <form style="float: right; margin-right: 390px" action="{% url 'article_delete' pk=news.id %}">
                <input type="submit" value="Удаление">
            </form>
        {% endif %}
    {% endif %}
{% endblock content %}